
body {
   background-color: lightyellow;
} 

h1 {
   text-align: center;
}

#student {
   display: inline;
}

#student img {
  position: absolute;
  left: 650px;
  top: 530px;
}

ul {
   text-align: center;
}

li {
   display: inline;
   background-color: SlateBlue;
   padding: 10px;
   border: 4px outset gray;
}

li a {
   color: DarkRed;
}